DATABASE_URL=postgresql://neondb_owner:<password>@<your-neon-endpoint>/neondb?sslmode=require&channel_binding=require
SECRET_KEY=your_secret_key_here
REDIS_HOST=redis
RABBITMQ_HOST=rabbitmq
PAYHERE_MERCHANT_ID=your_merchant_id_here
PAYHERE_MERCHANT_SECRET=your_merchant_secret_here
CONTENT_SERVICE_URL=http://content_service:8004
COURSE_SERVICE_URL=http://course_service:8003
