DATABASE_URL=postgresql://neondb_owner:<password>@<your-neon-endpoint>/neondb?sslmode=require&channel_binding=require
SECRET_KEY=your_secret_key_here
REDIS_HOST=redis
RABBITMQ_HOST=rabbitmq

USER_SERVICE_URL=http://user_service:8002
